:root {
  --blurple: #7289da;
  --greyple: #99aab5;
  --dark: #2c2f33;
  --darker: #23272a;
  --primary: rgb(188, 130, 235);
  --buttons: rgb(148, 74, 209);
  --white: rgb(241, 241, 241);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;

  color: var(--white);
  font-family: "Roboto", sans-serif;
  background: var(--dark);
}

body {
  margin: 0;
}
a {
  color: var(--white);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  border: none;
  height: 0.5px;
  color: var(--greyple);
  background: var(--greyple);
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .logo {
  width: 300px;
  animation: hoverAnim 3s infinite;
}
@keyframes hoverAnim {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(2%);
  }
}
main .title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Catamaran", sans-serif;
}
main article .title {
  font-size: 30px;
}

/* article */
article {
  width: calc(100% - 20px);

  margin: 10px;
  padding: 10px;
  padding-top: 0;
  border-radius: 10px;

  background: var(--darker);
}
@media (min-width: 790px) {
  article {
    width: 770px;
  }
}

/* buttons */
article .buttons {
  display: flex;
  margin: 15px 0px;
}
article .buttons .button {
  margin-right: 10px;
  padding: 10px 15px;

  /* color: var(--darker); */

  border-radius: 10px;
  border: 1px solid var(--primary);

  transition: box-shadow 0.25s;
}
article .buttons .button:hover {
  text-decoration: none;

  border: 1px solid var(--darker);
  background: var(--buttons);

  box-shadow: 0 0 30px var(--buttons);
}

/* commands */
article section.commands {
  display: flex;
  flex-direction: column;
}
article section.commands .command {
  margin: 5px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--darker);

  background: var(--dark);
  cursor: pointer;
}
article section.commands .command:hover {
  border: 1px solid var(--primary);
}
article section.commands .command.expanded {
  border: 1px solid var(--primary);
}
article section.commands .command * {
  pointer-events: none;
}
article section.commands .command .com {
  width: fit-content;

  margin: 10px 0px;

  color: var(--primary);
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;

  /* background: var(--darker); */
}
/* extra */
article section.commands .command .extra {
  overflow: hidden;
  max-height: 0;

  transition: max-height 0.25s;
}
article section.commands .command.expanded .extra {
  max-height: 300px;
  transition: max-height 0.25s ease-in-out;
}
article section.commands .command .extra .title {
  font-size: 14px;
  text-transform: uppercase;
}
article section.commands .command .extra div span {
  background: var(--darker);
}
article section.commands .command .extra div span.highlight {
  color: var(--primary);
}
article section.commands .command .extra .example span {
  display: block;
  width: fit-content;
  margin: 5px 0px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;

  padding: 10px;
  margin-top: 15px;
}
